body {
    background-color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}

header {
    clear: both;
    background-color: #003366;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #87CEEB;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover, .active {
    color: white;
    background-color: #FF7F50;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    display: inline-block;
    margin-right: 20px;
}

aside ul li a {
    text-decoration: none;
    color: black;
}
aside ul li a:hover {
    color: white;
    background-color: #FF7F50;
}
img {
    width: 50%;
    height: auto;
}


section, aside {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 600px;
    overflow-y: auto;
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    background-color: yellowgreen;
    font-weight: bold;
}
button[type="submit"] {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
    border: 1px solid black;
    border-radius: 10px;
}
button[type="submit"]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: 1px solid black;
    border-radius: 10px;
}

section {
    width: 65%;
    float: left;
}

aside {
    background-color: orange;
    width: 35%;
    float: left;
}

footer {
    clear: both;
    background-color: #003366;
    color: white;
    padding: 10px;
    text-align: center;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline-block;
    margin-right: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
}

#table, #table + p {
    margin-top: 20px;
}
#table table {
    border-collapse: collapse;
    width: 100%;
}

#table th, #table td {
    border: 1px solid #a0a0a0;
    padding: 8px;
    text-align: left;
}
#table th {
    background-color: #708090;
    color: #FFFAFA;
}
.aside_paragraph {
    font-size: medium;
}
.absolute-note {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: yellowgreen;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0;   /* Initially hidden */
    animation: appearAndBounce 1.5s ease-in-out forwards;
}

@keyframes appearAndBounce {
    0%   { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(5px); } /* Bounce at the end */
}


@media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
        display: flex; /* Allow for more flexible arrangement */
        flex-direction: column;
    }

    nav ul li {
        margin-right: 10px;
    }
}
